{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}
